.textButton {
  padding: 8px 20px;
  font-size: 15px;
  font-weight: 600;
  font-family: ProximaNova;
  border-radius: 5px;
}

.header-button {
  color: var(--color-secondary);
  background: var(--color-white);
  border: 2px solid var(--color-secondary);

  @media (max-width: 576px) {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    background: var(--color-secondary);
    color: var(--color-white);
  }
}

.convertButton {
  background: var(--color-secondary);
  color: var(--color-white);
  border: none;

  @media (max-width: 576px) {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    background: var(--color-primary);
  }
}

.loginModalButton {
  background: var(--color-secondary);
  color: var(--color-white);
  border: none;
  width: 100%;
  height: auto;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background: var(--color-primary);
  }
}
