<div class="exchange-calculation">
  <div class="exchange-calculation-title">
    <app-ee-image
      class="convert-image"
      src="../../../../../assets/convert-icon.svg"
      alt="Convert Icon"
    />
    <app-ee-text class="title-text" text="Convert Fund" />
  </div>
  <div class="exchange-calculation-form">
    <div class="form">
      <div class="form-inputs">
        <div class="form-input">
          <ee-input
            class="input"
            dynamicFor="amount"
            dynamicId="amount"
            dynamicLabelText="Amount"
            dynamicName="amount"
            dynamicType="number"
            dynamicClass="numberInput"
            dynamicPlaceholder=" {{ this.currencySymbol }} 10.00"
            (newAmount)="onNewAmount($event)"
          />
        </div>

        @for (selectBox of selectBoxes; track selectBox.dynamicId) {
        <div class="form-input">
          <ee-select
            [allExchange]="allExchange"
            class="input"
            [dynamicFor]="selectBox.dynamicFor"
            [dynamicLabelText]="selectBox.dynamicLabelText"
            [dynamicName]="selectBox.dynamicName"
            [dynamicId]="selectBox.dynamicId"
            [dynamicClass]="selectBox.dynamicClass"
            (sendEvent)="onsendEvent($event)"
            (selectValue)="selectValue($event)"
            (selectedFromOptionText)="onselectedFromOptionText($event)"
            (selectedToOptionText)="onselectedToOptionText($event)"
            (toCurrencyValue)="ontoCurrencyValue($event)"
          />
        </div>

        @if (selectBox.dynamicId === 'fromCurrency') {

        <div class="form-exchange-icon">
          <app-ee-image
            class="image"
            src="../../../../../assets/exchange-icon.svg"
            alt="exchange icon"
          />
        </div>
        } }
      </div>
    </div>

    <app-ee-button
      (click)="handleConvert()"
      class="convert-button"
      buttonText="Convert"
      dynamicType="submit"
      dynamicClass="convertButton"
    />
  </div>
</div>
