<main class="main">
  <div class="content">
    <app-navbar (loginClicked)="onloginClicked()" />
    <app-header />
    <app-card-section />
    <exchange-section
      (convertClicked)="onconvertClicked()"
      (handleAmount)="onhandleAmount($event)"
      (handleSelectedFromOptionText)="onhandleSelectedFromOptionText($event)"
      (handleSelectedToOptionText)="onhandleSelectedToOptionText($event)"
      (handleResult)="onhandleResult($event)"
    />
    <calculation
      [amount]="amount"
      [selectedFromOptionText]="selectedFromOptionText"
      [selectedToOptionText]="selectedToOptionText"
      *ngIf="showCalculation"
      [result]="result"
    />

    <div
      *ngIf="isOverlayVisible"
      class="overlay"
      (click)="onOverlayClick()"
    ></div>
    <login-modal *ngIf="isLoginModalVisible" />
  </div>
</main>

<router-outlet></router-outlet>
