<div class="card-section">
  <div class="card-box">
    <app-ee-image class="card-image" src="../assets/secure.svg" alt="secure" />
    <app-ee-text class="card-title" text="SECURE" />
    <app-ee-text
      class="card-description"
      text="Send money online fast, secure and easy. Live tracking and notifications +
    flexible delivery and payment options."
    />
  </div>
  <div class="card-box">
    <app-ee-image
      class="card-image"
      src="../assets/accessible.svg"
      alt="accessible"
    />
    <app-ee-text class="card-title" text="EASY ACCESSIBLE" />
    <app-ee-text
      class="card-description"
      text="Create a chart for any currency pair in the world to see their currency
    history. These currency charts use live mid-market rates, are easy to use,
    and are very reliable."
    />
  </div>
  <div class="card-box">
    <app-ee-image class="card-image" src="../assets/fast.svg" alt="fast" />
    <app-ee-text class="card-title" text="FAST AND RELIABLE" />
    <app-ee-text
      class="card-description"
      text="Need to know when a currency hits a specific rate? The Xe Rate Alerts will
    let you know when the rate you need is triggered on your selected currency
    pairs."
    />
  </div>
</div>
