.card-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--color-cloud);
  padding: 5% 10%;

  @media (max-width: 1400px) {
    justify-content: space-around;
  }

  .card-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 480px;
    text-align: center;
    background: var(--color-white);
    border-radius: 16px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 25px 0;

    .card-title {
      margin: 25px 0;
      color: var(--color-primary);
      font-size: 28px;
      font-weight: 600;
    }
    .card-description {
      max-width: 241px !important;
    }
  }
}
