@import "fonts";

:root {
  --color-primary: #63a022;
  --color-secondary: #87c241;
  --color-light: #dfedcf;
  --color-dark: #354e57;
  --color-natural: #848f93;
  --color-cloud: #eef3f4;
  --color-white: #ffffff;

  --font-family: ProximaNova;

  --button-fontSize: 15px;
  --button-fontWeight: 600px;
  --button-borderRadius: 5px;
  --button-padding: 8px 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 1.2;
}
